[
  {lager, [
    {log_root, "./log"},
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " ===", sev, "(", pid, " ", module, ":", line, ") ", message, "\n"]}]},
      {lager_file_backend, [
        {file, "error.log"},
        {level, error},
        {date, "$D0"},
        {rotator, lager_rotator_date},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " ===", sev, "(", pid, " ", module, ":", line, ") ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]}
].