%% 服务器ID
{server_id, 1}.

%% 服务器类型 normal, master
{server_type, normal}.

%% 服务器ip
{server_host, "10.10.10.50"}.

%% 服务器监听端口
{game_port, 55555}.

{merge_server_id_list, [4023]}.

% 开服时间设置
{serverOpenTime, {{2021, 1, 13}, {10, 10, 10}}}.

%% 是否发布版
{is_release, false}.

% 跨服通信节点
{node_info_master, "wlwz_game_master_500@10.10.10.100"}.

%% 服务器错误日志等级
{log_level, 5}.

%% 服务器错误日志目录
{logger_file_dir, "./log"}.

%% 连接帐号服务器密钥
{account_server_connect_key, "32614314111030133085758332889189"}.

{internal_pay_key, "7o6t3g0ei8oohktfm9lo3nthf2nx3km3"}.
%% 后台管理key
{backend_ctrl_key, "n42gcsffn254x272xkb16as61dsno6qy"}.
%% 帐号服务器地址
%%{account_server_addr,"10.10.10.4:12588"}.
{account_server_addr, "10.10.10.100:12588"}.

%% 是否是新服务器
{is_new_server, true}.

%% 服务器最大同时在线玩家数
{max_online_num, 4000}.

%% 邮件进程最大缓存,单位：M
{mail_process_max_buff_size, 100}.

%% 战报进程最大缓存,单位：M
{hist_process_max_buff_size, 100}.

%% 好友进程最大缓存,单位：M
{friend_process_max_buff_size, 50}.

%% 数据库连接配置
%% {db, {数据库IP,端口,用户名,密码,数据库名称,连接数量}} 线上连接数量100
{db, {"127.0.0.1", 3306, "root", ")0a5rX0RgI3f", "game", 10}}.
{db_log, {"127.0.0.1", 3306, "root", ")0a5rX0RgI3f", "log", 10}}.


%% 充值与广播消息的web接口使用的认证信息与接口使用的端口信息
{passinfo, {"passed", 8081, "0.0.0.0"}}.


%% 客户端需求最低版本号
{client_version, {0, 0, 1}}.

%% 时区信息
{time_zone, {{1970, 1, 1}, {8, 0, 0}}}.

%% 战斗计算服务器节点
{pvp_fight_list, [
  {'10.10.10.100', 6013}
  %%{'10.10.10.100',6001}
]}.

%%指定fight_manager的端口
{fight_manager_port, 7522}.

%%     PVE验证战斗服务器节点
{pve_node, ['pve1@10.10.10.100']}.

%% 平台类型[苹果正版appstore，其他other]
{platform_type, other}. %[appstore,other]

%%服务器名字
{serverName, "佛挡杀佛"}.

%%开跨服需要的最低服务器组数
{minServerNum, 1}.
{exchange_rate, 1}.

%%服务器注册人数多少之后显示拥堵
{crowed_num, 4000}.

%%最大注册数量
{max_register_num, 4500}.

%%差异化目录
{different_config, "49ml"}.

%%服务器进入停服维护状态

%%停服维护期间允许登录的ip


